// header font
$josefinSans: 'Josefin Sans', sans-serif;
// body font
$roboto: 'Roboto', sans-serif;

// color palette
$black: #2C2C2C;
$offWhite: #F0EFED;
$forestGreen: #074115;
$sunnyYellow: #F8E71C;
$green: #0E902D;